.disabled-li[data-v-42826f89]{cursor:not-allowed;opacity:.6;pointer-events:none}.bg-footer[data-v-42826f89]{background-color:#000!important;color:#fff!important}.bg[data-v-42826f89]{background-color:#000;height:88vh!important}
