.top-10[data-v-f6f28905]{margin-top:10px}.product-size[data-v-f6f28905]{height:auto;width:300px}.bg[data-v-f6f28905]{background-color:#000;height:90vh!important}.ht-50[data-v-f6f28905]{height:190vh!important;width:100%!important}
